// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Mixins
// @import './mixins';

// Global
// @import 'components/global';

// ScrollBar
@import 'scrollbar';

// Widgets
// @import 'components/widgets';
#page-wrapper {
    margin-top: 20px;
    background: $darkGreyBG;
}

.navbar-default {
    background: $purpleDark;

    .navbar-brand {
        color: $white;
    }

    a {
        color: $white;
    }

    .open {
        a {
            color: $purpleDark;

            i {
                color: $neonGreen;
            }
        }
    }

    .navbar-top-links {
        li {
            &.dropdown {
                .dropdown-toggle {
                    &:hover {
                        background: $darkGreyBG;

                        i {
                            color: $neonGreen;
                        }
                    }

                    &:focus {
                        background: $darkGreyBG;

                        i {
                            color: $neonGreen;
                        }
                    }
                }
            }
        }
    }


    &.sidebar {
        position: fixed;
        height: 100%;
        border: none !important;
        top: -1px;

        ul {
            border: none !important;

            li {
                border: none;

                a {


                    &.active,
                    &:hover,
                    &:focus {
                        border-left: 5px solid $neonGreen;
                        background: $darkGreyBG;
                        color: $neonGreen;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (max-width: 768px) {
    .navbar-default {
        &.sidebar {
            position: relative;
        }
    }

    #page-wrapper {
        margin-top: 80px;
    }
}

.optional {
    color: rgba($purpleDark, 0.5);
    font-size: 12px;
}

.badge {
    padding: 3px 9px 3px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}

#users-list {
    button {
        border: none;
        cursor: text;
        background: transparent;
        
        &:focus, &:active {
            outline:none;
            background: transparent;
        }
    }
}