// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Mixins
@import './mixins';

// Global
@import 'components/global';

// ScrollBar
@import 'scrollbar';

// Widgets
@import 'components/widgets';

#wrapper {
    height: 100%;
    overflow: auto;

    // Navbar
    @import 'components/navbar';

    // Sidebar
    @import 'components/sidebar';

    #content-area {
        margin-left: 80px;
        margin-top: 50px;

        .dateNtime {
            margin-top: -100px;
            float: right;
            text-align: right;

            span {
                display: block;
            }
        }

        .breadcrumb-item {
            color: rgba($purpleDark, 0.5);

            &.active {
                color: $purpleDark;
            }
        }

        .faces {
            width: 40px;
            height: 40px;
            padding: 2px;
            border-radius: 2px;
        }

        .card {
            background: $white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
            margin-bottom: 15px;

            .card-header {
                h5 {
                    display: inline-block;
                }
            }
        }

        #dashboard {

            #due-projects {
                .project-date {
                    text-align: center;
                    // border: 1px solid $purpleDark;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);

                    small {
                        display: block;
                        font-size: 14px;
                    }

                    span {
                        font-size: 30px;
                        font-weight: 700;
                    }
                }

                .project-title {
                    a {
                        color: $purpleLight;
                        text-decoration: none;

                        &:hover {
                            color: $purpleDark;
                        }
                    }
                }

                .project-info {
                    span {
                        display: inline-block;
                        font-size: 12px;
                    }
                }
            }

            #recent-projects {
                .project-date {
                    text-align: center;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);

                    small {
                        display: block;
                        font-size: 12px;
                    }

                    span {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .project-title {
                    h2 {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .project-info {
                    span {
                        display: inline-block;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (max-width: 768px) {

    #wrapper {
        #content-area {
            .project-info {
                margin-top: 10px;
            }

            .project-assignee {
                text-align: center;

                img {
                    display: inline-block;
                }
            }
        }
    }
}
