// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Mixins
// @import './mixins';

// Global
// @import 'components/global';

// ScrollBar
@import 'scrollbar';

// Widgets
// @import 'components/widgets';
#page-wrapper {
    margin-top: 20px;
    background: $darkGreyBG;
}

.navbar-default {
    background: $purpleDark;

    .navbar-brand {
        color: $white;
    }

    a {
        color: $white;
    }

    .open {
        a {
            color: $purpleDark;

            i {
                color: $neonGreen;
            }
        }
    }

    .navbar-top-links {
        li {
            &.dropdown {
                .dropdown-toggle {
                    &:hover {
                        background: $darkGreyBG;

                        i {
                            color: $neonGreen;
                        }
                    }

                    &:focus {
                        background: $darkGreyBG;

                        i {
                            color: $neonGreen;
                        }
                    }
                }
            }
        }
    }


    &.sidebar {
        position: fixed;
        height: 100%;
        border: none !important;
        top: -1px;

        ul {
            border: none !important;

            li {
                border: none;

                a {


                    &.active,
                    &:hover,
                    &:focus {
                        border-left: 5px solid $neonGreen;
                        background: $darkGreyBG;
                        color: $neonGreen;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (max-width: 768px) {
    .navbar-default {
        &.sidebar {
            position: relative;
        }
    }

    #page-wrapper {
        margin-top: 80px;
    }
}

.optional {
    color: rgba($purpleDark, 0.5);
    font-size: 12px;
}
