// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'grid';
// Functions
@import 'mixins';


// Custom
@import 'global';
@import 'scrollbar';
@import 'login/login';
@import 'register/register';

#wrapper {
    @import 'dashboard/sidemenu/sidebar';
    @import 'dashboard/header/header';

    #content-area {
        margin-left: 80px;
        color: $purpleLight;

        .dateNtime {
            float: right;
            margin-top: -50px;
            text-align: right;

            span {
                display: block;
            }
        }

        .card {
            background: $darkGrey;
            width: 100%;
            border-radius: 2px;
            padding: 10px 15px;

            .icon-lg {
                display: inline-block;

                i {
                    font-size: 50px;
                }
            }

            .icon-date-title {
                display: inline-block;

                i,
                span {
                    color: $darkGreyFont;
                    font-size: 10px;
                }
            }

            .icon-count {
                display: inline-block;
                padding: 0 15px;

                span {
                    font-size: 40px;
                    color: $purpleLight;
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (max-width: 768px) {
    #wrapper {
        #content-area {
            margin-left: 0;
        }
    }
}
