* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: $darkGreyBG;
}

.bg-four {
    @include hover-button($four);
}

.bg-three {
    @include hover-button($three);
}

.bg-two {
    @include hover-button($two);
}

.bg-one {
    @include hover-button($one);
}

.row {
    margin-bottom: 10px;
}
