&.isOpen {
    #sideMenu {
        width: 250px;
        transition: opacity 0s ease-in-out 0s;

        nav {
            a {
                span {
                    display: inline-block;
                }
            }
        }
    }

    #content-area {
        margin-left: 250px;
    }
}

#sideMenu {
    background: $purpleDark;
    max-width: 250px;
    width: 80px;
    position: fixed;
    top: 55px;
    bottom: 0;
    z-index: 100;
    transition: 0.5s;
    overflow: auto;

    nav {
        a {
            display: block;
            color: $darkGrey;
            text-decoration: none;
            padding: 15px 30px;
            font-weight: 300;
            transition: all .3s ease-in-out;

            span {
                display: none;
            }

            &:hover {
                background: $darkGrey;
                padding: 15px 30px 15px 25px;
                color: $purpleDark;
                border-left: 5px solid $purpleDark;

                .fa {
                    color: $purpleDark;
                }
            }

            &.active {
                background: $darkGreyBG;
                color: $purpleDark;
                border-left: 5px solid $neonGreen;
                padding: 15px 30px 15px 25px;

                .fa {
                    color: $neonGreen;
                }
            }

            .fa {
                color: $darkGrey;
                font-size: 1.4rem;
                margin-right: 0.8rem;
                display: inline-block;
                width: 30px;
                position: relative;
                top: 2px;
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (max-width: 768px) {

    #sideMenu {
        width: 0;

        nav {
            a {
                display: none;
            }
        }
    }

    #content-area {
        margin-left: 5px !important;
    }

    &.isOpen {
        #sideMenu {
            width: 100%;
            max-width: 100%;

            nav {
                a {
                    display: block;
                }
            }
        }

    }
}
