@media (min-width: 1200px) {
    #left {
        flex: 6;
    }

    #right {
        flex: 4;
    }
}

@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    #left {
        display: none;
    }

    #right {
        justify-content: start;
        margin-top: 4vh;

        .signin {
            .logo {
                margin-bottom: 2vh;
            }

            .text-input {
                margin-bottom: 0.7rem;
            }
        }

        #main-footer {
            padding-top: 1rem;
        }
    }
}
