@import url(https://fonts.googleapis.com/css?family=Nunito);/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #282639;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #282639;
}

#page-wrapper {
  margin-top: 20px;
  background: #EAEDF3;
}

.navbar-default {
  background: #282639;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default a {
  color: #ffffff;
}

.navbar-default .open a {
  color: #282639;
}

.navbar-default .open a i {
  color: #92CF48;
}

.navbar-default .navbar-top-links li.dropdown .dropdown-toggle:hover {
  background: #EAEDF3;
}

.navbar-default .navbar-top-links li.dropdown .dropdown-toggle:hover i {
  color: #92CF48;
}

.navbar-default .navbar-top-links li.dropdown .dropdown-toggle:focus {
  background: #EAEDF3;
}

.navbar-default .navbar-top-links li.dropdown .dropdown-toggle:focus i {
  color: #92CF48;
}

.navbar-default.sidebar {
  position: fixed;
  height: 100%;
  border: none !important;
  top: -1px;
}

.navbar-default.sidebar ul {
  border: none !important;
}

.navbar-default.sidebar ul li {
  border: none;
}

.navbar-default.sidebar ul li a.active,
.navbar-default.sidebar ul li a:hover,
.navbar-default.sidebar ul li a:focus {
  border-left: 5px solid #92CF48;
  background: #EAEDF3;
  color: #92CF48;
}

@media (max-width: 768px) {
  .navbar-default.sidebar {
    position: relative;
  }

  #page-wrapper {
    margin-top: 80px;
  }
}

.optional {
  color: rgba(40, 38, 57, 0.5);
  font-size: 12px;
}

.badge {
  padding: 3px 9px 3px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  border-radius: 9px;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-error {
  background-color: #b94a48;
}

.badge-error:hover {
  background-color: #953b39;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning:hover {
  background-color: #c67605;
}

.badge-success {
  background-color: #468847;
}

.badge-success:hover {
  background-color: #356635;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-info:hover {
  background-color: #2d6987;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse:hover {
  background-color: #1a1a1a;
}

