@import url(https://fonts.googleapis.com/css?family=Nunito);.container {
  width: 100%;
  margin: 0 auto;
}

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: inline-block;
}

@media only screen and (min-width: 0px) {
  .container {
    width: 95%;
    max-width: 1200px;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .container {
    width: 95%;
    max-width: 1200px;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (mid-width: 1008px) {
  .container {
    width: 95%;
    max-width: 1200px;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 95%;
    max-width: 1200px;
  }

  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #f8fafc;
  color: #ffffff;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.btn {
  color: #ffffff;
  border: 0;
  display: inline-block;
  border-radius: 2px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 9px 15px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  -webkit-transform: scale(1, 1) translate(-50%);
          transform: scale(1, 1) translate(-50%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.btn:focus:not(:active)::after {
  -webkit-animation: ripple 1s ease-out;
          animation: ripple 1s ease-out;
}

.primary-btn {
  background: rgba(52, 144, 220, 0.8);
}

.primary-btn:hover {
  background: #3490dc;
}

.danger-btn {
  background: rgba(227, 52, 47, 0.8);
}

.danger-btn:hover {
  background: #e3342f;
}

.warning-btn {
  background: rgba(246, 153, 63, 0.8);
}

.warning-btn:hover {
  background: #f6993f;
}

.success-btn {
  background: rgba(56, 193, 114, 0.8);
}

.success-btn:hover {
  background: #38c172;
}

.info-btn {
  background: rgba(77, 192, 181, 0.8);
}

.info-btn:hover {
  background: #4dc0b5;
}

.secondary-btn {
  background: rgba(63, 63, 63, 0.8);
}

.secondary-btn:hover {
  background: #3f3f3f;
}

.primary-outline-btn {
  background: transparent;
  border: 1px solid #3490dc;
  color: #3490dc;
}

.primary-outline-btn:hover {
  background: #3490dc;
  color: #ffffff;
}

.danger-outline-btn {
  background: transparent;
  border: 1px solid #e3342f;
  color: #e3342f;
}

.danger-outline-btn:hover {
  background: #e3342f;
  color: #ffffff;
}

.warning-outline-btn {
  background: transparent;
  border: 1px solid #f6993f;
  color: #f6993f;
}

.warning-outline-btn:hover {
  background: #f6993f;
  color: #ffffff;
}

.success-outline-btn {
  background: transparent;
  border: 1px solid #38c172;
  color: #38c172;
}

.success-outline-btn:hover {
  background: #38c172;
  color: #ffffff;
}

.info-outline-btn {
  background: transparent;
  border: 1px solid #4dc0b5;
  color: #4dc0b5;
}

.info-outline-btn:hover {
  background: #4dc0b5;
  color: #ffffff;
}

.secondary-outline-btn {
  background: transparent;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
}

.secondary-outline-btn:hover {
  background: #3f3f3f;
  color: #ffffff;
}

.xs-btn {
  padding: 3px 6px;
  font-size: 10px;
}

.sm-btn {
  padding: 6px 12px;
  font-size: 12px;
}

.md-btn {
  padding: 9px 15px;
  font-size: 14px;
}

.lg-btn {
  padding: 12px 18px;
  font-size: 16px;
}

.xl-btn {
  padding: 15px 21px;
  font-size: 20px;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    -webkit-transform: scale(25, 25);
            transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(40, 40);
            transform: scale(40, 40);
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    -webkit-transform: scale(25, 25);
            transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(40, 40);
            transform: scale(40, 40);
  }
}

.alert {
  width: 100%;
  padding: 10px 15px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.primary-alert {
  border-left: 5px solid #3490dc;
  border-bottom: 1px solid #3490dc;
  color: #3490dc;
}

.primary-alert:hover {
  background: #3490dc;
  color: #ffffff;
}

.danger-alert {
  border-left: 5px solid #e3342f;
  border-bottom: 1px solid #e3342f;
  color: #e3342f;
}

.danger-alert:hover {
  background: #e3342f;
  color: #ffffff;
}

.success-alert {
  border-left: 5px solid #38c172;
  border-bottom: 1px solid #38c172;
  color: #38c172;
}

.success-alert:hover {
  background: #38c172;
  color: #ffffff;
}

.warning-alert {
  border-left: 5px solid #f6993f;
  border-bottom: 1px solid #f6993f;
  color: #f6993f;
}

.warning-alert:hover {
  background: #f6993f;
  color: #ffffff;
}

.info-alert {
  border-left: 5px solid #4dc0b5;
  border-bottom: 1px solid #4dc0b5;
  color: #4dc0b5;
}

.info-alert:hover {
  background: #4dc0b5;
  color: #ffffff;
}

.secondary-alert {
  border-left: 5px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  color: #3f3f3f;
}

.secondary-alert:hover {
  background: #3f3f3f;
  color: #ffffff;
}

.invalid-feedback {
  color: #e3342f;
}

.invalid-feedback small {
  font-weight: bolder;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #282639;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #282639;
}

@media (min-width: 1200px) {
  #left {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }

  #right {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  #left {
    display: none;
  }

  #right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 4vh;
  }

  #right .signin .logo {
    margin-bottom: 2vh;
  }

  #right .signin .text-input {
    margin-bottom: 0.7rem;
  }

  #right #main-footer {
    padding-top: 1rem;
  }
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #ca6902;
  color: #ffffff;
}

#login #left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#login #left #showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/loginBG.jpeg?2648db104d35a96e9cd13a15e79de15a) no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}

#login #left #showcase .showcase-text {
  font-size: 36px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 15px;
  text-shadow: 3px 1px #3f3f3f;
}

#login #left #showcase .secondary-btn {
  color: #ffffff;
}

#login #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

#login #right .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding-bottom: 10px;
}

#login #right .signin form {
  width: 100%;
  padding-bottom: 20px;
}

#login #right .signin .logo {
  margin-bottom: 4vh;
}

#login #right .signin .logo h1 {
  font-size: 40px;
  font-weight: 500;
}

#login #right .signin label {
  font-size: 12px;
  line-height: 40px;
  font-weight: 500;
}

#login #right .signin .text-input {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #f6993f;
  color: #ffffff;
  padding: 10px 15px;
  line-height: 15px;
}

#login #right .signin .text-input:focus {
  outline: none;
  border: 1px solid #ffed4a;
}

#login #right .signin .is-invalid {
  border: 1px solid #e3342f;
}

#login #right .signin .warning-btn {
  width: 100%;
}

#login #right .signin .or,
#login #right .signin .links,
#login #right .signin .social {
  width: 60%;
}

#login #right .signin .links a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
}

#login #right .signin .links a:hover {
  color: #3490dc;
}

#login #right .signin .social {
  text-align: center;
}

#login #right .signin .social a {
  display: block;
  width: 100%;
  margin: 5px auto;
  color: #ffffff;
  border: 0;
}

#login #right .signin .or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login #right .signin .or .bar {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border: none;
  height: 1px;
  background: #ffffff;
}

#login #right .signin .or span {
  color: #ffffff;
  padding: 0 0.8rem;
}

#main-footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  max-width: 80%;
}

#main-footer a {
  color: #ffffff;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  #left {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }

  #right {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  #right {
    display: none;
  }

  #left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 4vh;
  }

  #left .signin .logo {
    margin-bottom: 2vh;
  }

  #left .signin .text-input {
    margin-bottom: 0.7rem;
  }

  #left .or {
    width: 100% !important;
  }

  #left #main-footer {
    padding-top: 1rem;
  }
}

#register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#register #left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  color: #ffffff;
  background: #112351;
}

#register #left .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding-bottom: 10px;
}

#register #left .signup .logo {
  margin-bottom: 4vh;
}

#register #left .signup .logo h1 {
  font-size: 40px;
  font-weight: 500;
}

#register #left .signup form {
  width: 100%;
  padding-bottom: 20px;
}

#register #left .signup .form-group-name {
  width: 50%;
  float: left;
}

#register #left .signup .form-group-name.form-padding {
  padding-left: 20px;
  width: 50%;
}

#register #left .signup label {
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
}

#register #left .signup .text-input {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #6574cd;
  color: #ffffff;
  padding: 8px 15px;
  line-height: 10px;
}

#register #left .signup .text-input:focus {
  outline: none;
  border: 1px solid #3490dc;
}

#register #left .signup .primary-btn {
  width: 100%;
}

#register #left .signup .or,
#register #left .signup .links {
  width: 60%;
}

#register #left .signup .links a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

#register #left .signup .or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#register #left .signup .or .bar {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border: none;
  height: 1px;
  background: #ffffff;
}

#register #left .signup .or span {
  color: #ffffff;
  padding: 0 0.8rem;
}

#register #right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#register #right #showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/registerBG.jpeg?6f123433cb0352ba7460c0ae0a5ab504) no-repeat center center/cover;
  height: 100vh;
  text-align: center;
}

#register #right #showcase .showcase-text {
  font-size: 36px;
  width: 100%;
  color: #ffffff;
  margin-bottom: 15px;
  text-shadow: 3px 1px #3f3f3f;
}

#wrapper #sideMenu {
  background: #EAEDF3;
  max-width: 250px;
  width: 80px;
  position: fixed;
  top: 50px;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: auto;
}

#wrapper #sideMenu.isOpen {
  width: 250px;
  -webkit-transition: opacity 0s ease-in-out 0s;
  transition: opacity 0s ease-in-out 0s;
}

#wrapper #sideMenu.isOpen nav a span {
  display: inline-block;
}

#wrapper #sideMenu nav a {
  display: block;
  color: #3f3f3f;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 300;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#wrapper #sideMenu nav a span {
  display: none;
}

#wrapper #sideMenu nav a:hover {
  background: #F4F6F9;
  padding: 15px 30px 15px 25px;
  color: #282639;
}

#wrapper #sideMenu nav a:hover .fa {
  color: #282639;
}

#wrapper #sideMenu nav a.active {
  background: #F4F6F9;
  color: #282639;
  border-left: 5px solid #282639;
  padding: 15px 30px 15px 25px;
}

#wrapper #sideMenu nav a.active .fa {
  color: #282639;
}

#wrapper #sideMenu nav a .fa {
  color: #3f3f3f;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}

@media (max-width: 768px) {
  #wrapper #sideMenu {
    width: 0;
  }

  #wrapper #sideMenu nav a {
    display: none;
  }

  #wrapper #sideMenu.isOpen {
    width: 100%;
  }

  #wrapper #sideMenu.isOpen nav a {
    display: block;
  }

  #wrapper #content-area {
    margin-left: 0px;
  }
}

#wrapper header {
  background: #EAEDF3;
  color: #3f3f3f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 15px;
}

#wrapper header h1 {
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
}

#wrapper header button {
  float: left;
  margin: 0 15px;
  border: none;
  border-radius: 50%;
  background: #EAEDF3;
  color: #3f3f3f;
  outline: none;
}

#wrapper #content-area {
  margin-left: 80px;
  color: #302D43;
}

#wrapper #content-area .dateNtime {
  float: right;
  margin-top: -50px;
  text-align: right;
}

#wrapper #content-area .dateNtime span {
  display: block;
}

#wrapper #content-area .card {
  background: #EAEDF3;
  width: 100%;
  border-radius: 2px;
  padding: 10px 15px;
}

#wrapper #content-area .card .icon-lg {
  display: inline-block;
}

#wrapper #content-area .card .icon-lg i {
  font-size: 50px;
}

#wrapper #content-area .card .icon-date-title {
  display: inline-block;
}

#wrapper #content-area .card .icon-date-title i,
#wrapper #content-area .card .icon-date-title span {
  color: #6C7882;
  font-size: 10px;
}

#wrapper #content-area .card .icon-count {
  display: inline-block;
  padding: 0 15px;
}

#wrapper #content-area .card .icon-count span {
  font-size: 40px;
  color: #302D43;
}

@media (max-width: 768px) {
  #wrapper #content-area {
    margin-left: 0;
  }
}

